body {
    background-color: #fffbf5;
    /* font-size: 15px; */
    text-align: center;
    font-family: 'Outfit', sans-serif;
}
.navbar {
    display: flex; 
    align-items: center; 
   
  }

.navbar #signup {
    background-color:#3D8CFA;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    color: white;
    border-style: none;
}

.navbar #login {
    background-color: #A8A1FD;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    color: white;
    border-style: none;
}

.container  {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 30px;
}

/* Define the animation */
@keyframes typing {
    from {
      width: 0; /* Set the initial width to 0 */
    }
    to {
      width: 100%; /* Set the final width to 100% */
    }
  }
  
  /* Apply the animation to the span element */
  span.typing {
    display: inline-block;
    height: 70px;
    overflow: hidden;
    animation: typing 3s steps(10) infinite; */
  }

  
  
.header h1 {
    font-size: 70px;
    margin-bottom: 20px;
    display: inline-block;
}

.header h3 {
    font-size: 40px;
    margin-bottom: 40px;
  
}
.box1 {
    width: 900px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 3px solid #3D8CFA ;
    border-radius: 15px;
    box-shadow: #3D8CFA 0px 5px 5px 5px;
   

}


.box2 {
    width: 900px;
    height: 220px;
    /* display: flex;
    flex-direction: row; */
    border: 3px solid #3D8CFA ;
    border-radius: 15px;
    box-shadow: #3D8CFA 0px 5px 5px 5px;

}

.box2 .content {
    display: flex;
    flex-direction: row;
   align-items: center;
}
.box2 h5 {
    text-align: center;
    margin-top: 30px;

}


.box1 img {
    width: 180px;
    padding-left: 30px;
    border-radius: 180px;

}
.box1 p {
    padding-left: 50px;
    width: 600px;
    text-align: justify;
}

.box2 p {
    padding-left: 70px;
    margin-top: 10px;
    width: 600px;
    text-align: justify;
}
.box2 img {
    width: 130px;
    height: 130px;
    border-radius: 180px;
margin-top: -10px;
    margin-left: 40px;

}
span {
    color: #05bbcc;
}

#btn {
    background-color:  #A8A1FD  ;
    width: 300px;  
    background-color: #A8A1FD;
     height: 60px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    margin: 50px;
    border-style: none;
    font-size: 25PX;
}
#btn:hover {
    scale: 1.05;
    background-color: #3D8CFA;
    box-shadow: 5px 5px 10px 5px rgba(94, 92, 154, 0.35);

}

