:root {
    --text: #0a0600;
    --background: #fffbf5;
    --primary: #3d8cfa;
    --secondary: #a8a1fd;
    --accent: #05bbcc;
  }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
body{
    background-image: url(../images/login-registration-background.png);
    background-size: cover;
    font-family: 'Outfit', sans-serif;
   
}
body{
    margin-top: 50px;
    border-radius: 20px;
}

#header{
    display: flex;
    justify-content: center;
    position: relative;
}
 #header #nav{
border-radius: 10px;
width: 96%;
margin-top: 20px;
display: flex;
justify-content: space-between;
padding-right: 20px;
}
#header img:first-of-type{
width: 200px;
}
#header #category{
   display: flex;
   align-self: center;
   font-weight:bold;
   font-size: 60px;
   color: var(--primary);
}
#header #profile {
    display: flex;
    align-items: center;
}
#header #profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    }
    .arrow {
        width: 20px;
        margin-left: 10px;
    }
  
   
 
    .box {
        background-color: white;
        width: 80%;
        margin: auto;
        height: 510px;
        border-radius: 20px;
        border: 2px solid gray;
        box-shadow: gray 0px 5px 5px 5px;

      
    }

    .box h2 {
        margin-top: 30px;
        padding-top: 60px;
        text-align: center;
        margin-bottom: 70px;
    }
    .box p {
        font-size: 15px;
        
    }
    .rules {
        padding: 50px;
    }
    .rules h5 {
        font-weight: bold;
        margin-bottom: 10px;
    }
    .buttons {
        text-align: center;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;

   
    }
    #exit {
        background-color:#3D8CFA;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    color: white;
    border-style: none;
    font-weight: bolder;
    }
    #start {
        background-color: #A8A1FD;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    color: white;
    border-style: none;
    font-weight: bold;
    }